.title {
    color: black;
    font-size: 35;
    margin: 5 0 50 0;
    font-weight: bold;
    text-align: center;
}
.show {
    margin: 5 0 5 0;
    color: white;
    background-color: mediumblue;
}
.response {
    text-align: center;
    margin: 5 0 5 0;
    color: red;
}
TextField {
    padding: 5 10 5 10;
    font-size: 17;
    margin-top: 10;
    margin-bottom: 10;  
}