<ActionBar title="SnackBar Plugin"></ActionBar>
<!-- Your UI components go here -->
<StackLayout>
    <Label text="SnackBar Generator" class="title"></Label>
    <TextField hint="Enter message here..." [(ngModel)]="message"></TextField>
    <TextField hint="Enter action here..." [(ngModel)]="action"></TextField>
    <TextField hint="Enter file path here..." [(ngModel)]="path"></TextField>
    <Button text="SHOW SNACKBAR" (tap)="showSimpleSnackBar()" class="show"></Button>
    <Button text="SHOW ACTION SNACKBAR" (tap)="showActionSnackBar()" class="show"></Button>
    <Button text="SHOW METADATA" (tap)="getMetadata()" class="show"></Button>
    <Label text="{{ response }}" class="response"></Label>
    <Label text="{{ metadata }}" class="response"></Label>
</StackLayout>